@import "_base";

#collapsible-container {

  .ui-accordion-header-icon {
    color: $accordion-icon;
    padding: 5px;
  }

  .ui-accordion-header {
    font-family: 'PetalaPro Regular';
    font-size: 18px;
    background-color: $accordion-background;
    border-top: solid 0.3rem $accordion-border;
    border-bottom: solid 0.1rem $accordion-border;
    display: inline-block;
    width: 100%;
    padding: 10px;
    @include safe-rem(margin-top, 25);
    @include transition(all 0.2s linear);
    &:hover {
      color: $accordion-hover;
      cursor: pointer
    }
    &:focus {
      background-color: $accordion-background-focus;
      color: $accordion-header-focus;
    }
  }

  .ui-accordion-content {
    @include safe-rem(padding-top, 12);
  }

}