@import "_base";

#collapsible-container {

  .collapsible-item-header {
    font-family: 'PetalaPro Regular';
    font-size: 18px;
    background-color: $accordion-background;
    border-top: solid 0.3rem $accordion-border;
    border-bottom: solid 0.1rem $accordion-border;
    display: inline-block;
    width: 100%;
    padding: 13px 10px;
    @include safe-rem(margin-top, 25);
    @include transition(all 0.2s linear);
    &:hover {
      color: $accordion-hover;
      cursor: pointer
    }
    &:focus {
      background-color: $accordion-background-focus;
      color: $accordion-header-focus;
    }
    &:before {
      margin: 0px 5px !important;
      font-family: "FontAwesome";
      content: '\f067';
      color: $accordion-icon;
    }
  }

  .panel-expand {
    &:before {
      font-family: "FontAwesome";
      content: '\f068';
      color: $accordion-icon;
    }
  }

  .collapsible-item-summary {
    @include safe-rem(padding-top, 12);
  }

}