@import "_base";

@media print {

  #collapsible-container {

    h2 {
      font-size: 32px !important;
      font-family: 'PetalaPro Regular' !important;
    }

    .ui-accordion-header-icon {
      display: none !important;
    }

    .ui-accordion-header {
      font-size: 32px !important;
      font-family: 'PetalaPro Regular' !important;

      background-color: transparent !important;
      border: none !important;

      padding: 0 !important;
      margin-top: 25px !important;
    }

    .document-header {
      font-size: 32px !important;
      font-family: 'PetalaPro Regular' !important;

      background-color: transparent !important;
      border: none !important;

      padding: 0 !important;
      margin-top: 25px !important;

      &:before {
        display: none;
      }
    }

    .document-summary {
      display: block !important;
    }

  }
}